.page {
  margin: 0;
  font-family: $font-family;
  font-weight: 400;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
}

.text,
.title {
  margin: 0;
}

.catalog {
  box-sizing: border-box;
  padding: 50px 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px 46px;
  justify-content: center;
  margin: 0 auto;

  // 2 колонки з 488px
  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 1fr);
  }

  // 3 колонки з 768px
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  // 4 колонки з 1024px
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
